.reporter {
  position: absolute;
  top: 30px;
  width: 100vw;
  z-index: 100;
  display: flex;
  justify-content: center;
}

.report-btn {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  font-size: 1.5em;
  background: rgba(252, 61, 33, 1);
  color: rgba(11, 61, 145, 1);
}