.mapboxgl-canvas-container.mapboxgl-interactive.mapboxgl-touch-drag-pan.mapboxgl-touch-zoom-rotate {
  height: 100%;
  width: max-content;
}

.fire-img {
  width: 25px;

}

.fire-img:hover {
  transform: scale(1.05);
}

.marker-div {
  background: rgba(100, 100, 100, .5);
  border-radius: 100px;
  height: 50px;
  width: 50px;
}

.marker-text {
  line-height: 50px;
}

